<%- include('partials/header.ejs') %>

<body>
  <div class="container">
    <div class="sun-container">
      <a href="/uvform">
            <div class="sun">
                <div class="eyes left"><div class="eye-white"></div></div>
                <div class="eyes right"><div class="eye-white"></div></div>
                <div class="mouth"></div>
            </div>
        </a>
    </div>
    <span class="block typewriter"><h1>Hey Buddy! </h1></span>
    <div class="message">Do you know, UV rays from sun can be dangerous for you?</div>
  </div>



<%- include('partials/footer.ejs') %>